.messages {
	
	text-align: left;
	/* color:rgb(19, 20, 20); */
	background-color:rgba(7, 7, 7, 0.937);
	margin-bottom: 1em;
	border: 1px solid rgba(7, 7, 7, 0.8);
	border-radius: 9px;
	padding: 0.5rem 0.75rem 0.5em ;
	height: 82vh;
	overflow-y:scroll;
	font-size:1.1em;
	font-weight: lighter;
	
}
.messages::-webkit-scrollbar {
	width: 12px; 
}
.messages::-webkit-scrollbar-thumb {
	background-color: rgba(233, 230, 230, 0.148);
	
	border-radius: 4px;
}


.message-username {
	display: inline-block;
	font-weight: 600;
	font-size: 1.2 rem;
	margin-left: 0.9em;
	color: rgba(181, 109, 168, 0.798);
	
	font-weight:375;
	margin-right : 0.5em;
}
.message-username::first-letter {
	text-transform: uppercase;
  }

.message-details {
	/* float: right; */
	display: inline-block;
}

.message-status {
	/* float: right; */
	margin-left: 0.9em;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 3px;
	
}

.message-status-delivered {
	background-color: rgb(76, 145, 76);
}

.message-status-sent {
	background-color: rgb(94, 94, 153);
}

.message-status-failed {
	background-color: rgb(121, 23, 23);
}

.message {
	font-size: 1 rem;
	margin-left: 0.9em;
	color: rgb(202, 209, 217);
	padding-bottom: 0.5em;
	
}
.message-time {
	display: inline-block;
	color: rgb(153, 154, 155);
	margin-left: 0.6em;
	min-width:3.5em;
	
}