.messages {
	text-align: left;
	margin-bottom: 1em;
	border: 1px solid #000;
	padding: 0.5em 0.75em;
}

.message-username {
	font-weight: 600;
}

.message-details {
	float: right;
}

.message-time {
	/* float: right; */
}

.message-status {
	/* float: right; */
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
}

.message-status-delivered {
	background-color: green;
}

.message-status-sent {
	background-color: blue;
}

.message {
	font-size: 0.75rem;
}